@charset "utf-8";
body, html{
	padding:0px;
	margin:0px;
}
body{
	width: 1000px;
	min-height:100%;
	height:100%;
	min-width:500px;
	left:calc(50% - 500px);
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	position:absolute;
	border:1 px solid;
	background:#F2F0ED;
}
div{
	box-sizing:border-box;
}
div.toptitle{
	position:fixed;
	width:100%;
	top:0px;
	left:0px;
	font-family:"Barlow",sans-serif;
	color:#051441;
	font-size:20px;
	font-weight:bold;
	padding-left:calc(50% - 500px);
	padding-top:3px;
	z-index:99;
	background:#F2F0ED;
}
div.topmenu{
	position:fixed;
	width:100%;
	top:59px;
	left:0px;
	height:75px;
	background:#66F;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	color:white;
	font-weight:bold;
	padding-left:calc(50% - 500px);
	line-height:4.6;
	z-index:99;
}

div.topmenu>span[status='0']{
	color:#333;
}
div.topmenu>span[status='1']{
	color:white;
}
div.topmenu>span{
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
}

div.topmenu>span{
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
}



div.result{
	position:absolute;
	top:50px;
	//height:calc(100% - 580px);
	width:995px;
	border:none;
	background:#FFF;
	border-radius:10px 10px 0 0;
	padding:18px;
	bottom:0px;
	overflow:auto;
}

div.result>div.item{
	margin-left:10px;
	width:calc(100% - 10px);
	height:102px;
	//border:1px solid;
	margin-bottom:10px;
	border-radius:10px;
}

div.result>div.item>img{
	display:block;
	position:absolute;
	//border:1px solid;
	height:100px;
	width:150px;
	float:left;
	box-sizing:border-box;
	background-repeat:no-repeat;
	background-size:cover;
	border-radius:10px;//10px 0 0 10px;
	box-sizing:border-box;
}
div.result>div.item>span.title{
	display:block;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-top:2px;
	margin-left:150px;
	width:calc(100% - 155px);
	box-sizing:border-box;
	padding-left:5px;
}

div.result>div.item>span.author{
	display:block;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:11px;
	//font-style:italic;
	color:#999;
	margin-top:5px;
	margin-left:150px;
	box-sizing:border-box;
	padding-left:5px;
}
div.result>div.item>span.description{
	display:block;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	height:40px;
	color:#333;
	margin-top:5px;
	text-align:justify;
	margin-left:150px;
	overflow:hidden;
	box-sizing:border-box;
	padding-left:5px;
	line-height:1.0;
}


span.title:hover{
	cursor:pointer;
	color:blue;
	text-decoration:underline;
}
div.favorite{
	position:absolute;
	top:150px;
	z-index:999;
	left:10px;
}

div.favorite>span{
	display:inline-block;
	//border:1px solid red;
	padding:5px;
	border-radius:5px;
	background:#66F;
	color:white;
	margin-right:25px;
	margin-bottom:5px;
}
div.favorite>span:hover{
	background:#F90;
	cursor:pointer;
}

div.topmenu>span[status='1']:hover{
	cursor:pointer;
	color:red;
}

div#favoriteMenu{
	position:absolute;
	z-index:99999;
	top:200px;
	left:200px;
	border:1px solid #CCC;
	background:#D1E1DE;
	border-radius:5px;
	display:none;
}
div#favoriteMenu>span{
	display:block;
	margin:3px;
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
}
div#favoriteMenu>span:hover{
	cursor:pointer;
	color:blue;
	background:#CFF;
}
div#favoriteMenu>span>img{
	vertical-align:middle;
}

